html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
div,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}
a{
  text-decoration: none;
}
img{
  border: none;
}
body{
  font-family: '微软雅黑';
}
.el-menu-item.is-active{
  color: #26bbf0;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
.Admin{
  color: #fff;
}
.el-menu--horizontal{
  border-color: transparent;
}
